
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.header-style{
    width: 100%;
    background-color: rgba(3, 32, 22, .9);
}

footer{
    background-color: rgba(3, 32, 22, .9);
    min-height: 8vh;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}


.header-style nav{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-style nav ul{
    display: flex; /* ----------*/
    gap: 2rem;
}

.header-style nav ul li, .header-style nav ul li a{
    color: aliceblue;
    font-size: 1.5rem;
    padding: 1em .5em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.header-style nav ul li:hover{
    transform: scale(1.05);
    font-weight: 700;
    
}
.git-icon{
    background: url('./img/icons8-github-100.png') ;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 1rem;
}

.main-login{
display: flex;
justify-content: center;
align-items: center;
min-height: 85vh;
background: url('./img/walpapper3.jpg');
background-size:cover;
}
.main-login .login-division-2{
    display: none;
}
.main-login .login-division-1 h2, .main-login .login-division-2 h2{
    margin-bottom: 4rem;
    font-size: 3rem;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
}
.login-division-1{
    display: flex;
    gap: 3em;
    backdrop-filter: blur(20px);
}

.login-division-1 form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 700;
    font-size: 1.2rem;

}
.login-division-2, .login-division-1
.main-login .login-division-1 form label, .main-login .login-division-2 form label{
    font-size: 1rem;
    font-weight: 900;
}
.main-login .login-division-1 p, .main-login .login-division-2 p{
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.main-login .login-division-1{
    border: 2px solid black;
    border-radius: 30px;
    padding: 3rem;
}
.main-login .login-division-1 input{
    display: block;
}
.linkedin-icon{
    background: url('./img/linkedin.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.linkedin-icon a, .git-icon a{
    width: 100%;
    height: 100%;
}

.padding-20{
    padding-left: 8em;
    padding-right: 8em;
}

.dropdown{
    display: none;
    width: 3em;
    height: 3em;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    position: relative;
}
.dropdown::before{
    content: '☰';
    bottom: 1px;
    left: 5px;
    font-size: 2em;
    color: #FFFFFF;
    position:absolute;
}
.division-table{
    border-collapse: collapse;
}
.division-table tr th{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.division-table tr td, th{
    font-family: "Josefin Sans", sans-serif;
    padding: 10px 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    border-radius: 5px;
    
}
.division-table tr td.description{
    padding: 10px 200px;
}

.initial-main{
    width: 100%;
    background: url('./img/walpapper.jpg');
    background-size: cover;
    min-height: 85vh;
    padding-top: 4rem;
}


.division{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.division-content-1{
    text-align: center;
}
.division-content-2{
    text-align: center;
}

.division-content-1 h1{
    font-size: 5em;
    font-family: "Fjalla One", cursive;
    text-shadow: 2px 2px 2px black;
}

.division-content-1 h2{
    font-size: 3em;
    font-family: "Pacifico", cursive;
}

.dropdown-menu-login-tarefa{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 81px;
    
}

.dropdown-menu-login-tarefa .dropdown-log, .dropdown-tarefa{
    background-color: rgba(3, 32, 22, .7);
    border-bottom: 2px solid #ffffff;
    padding: 0 20px 15px;
    width: 15em;
    color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    position: absolute;
    transition: all 1s ease-in-out;
}

.dropdown-menu-login-tarefa .dropdown-log{
    text-align: left;
    display: none;
    flex-direction: column;
    align-items: end;
    right: 4rem;
}
.aparece{
    display: none;
}
.relativo{
    position: relative;
    height: 100%;
}

.dropdown-tarefa{
    display: none;
    left: 4rem;
}

.padding-10{
    padding-left: 6em;
    padding-right: 6em;

}

.complete-dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 8%;
    
}

.errors{
    background-color: rgb(201, 120, 120);
    color: rgb(71, 1, 1);
    width: 80%;
    margin-top: 2rem;
    padding: 20px;
    border-radius: 10px;
    font-size: .9em;
}

.complete-dropdown a{
    text-decoration: none;
    color: #FFFFFF;
    background-color:rgba(3, 32, 22, .7);
    padding: 3rem 8rem;
    display: block;
    font-size: 1.5rem;

}

.complete-dropdown a:hover{
    background-color: aquamarine;
    color: black;
}


.profile-user{
    background: url('./img/profile-user.png');
    background-size: cover;
    width: 3rem;
    height: 3rem;
    display: none;
}


@media screen and (max-width: 1100px) {
    
    .some{
        display: none;
    }
    .header-style{
        height: 81px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aparece{
        display: block;
    }
}

@media screen and (max-width: 950px){
    .header-style nav ul li{
        display: none;
    }
    .header-style{
        height: 81px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown{
        display: block;
    }

    .relativo{
        display: inline;
    }
    .relativo:hover .complete-dropdown{
        display: block;
    }
    .division-content-1 h1, .division-content-1 h2{
        font-size: 2em;
    }
    .padding-20{
        padding: 2rem;
    }
}