
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
h2.texto-interativo{
    font-family:  "Exo", sans-serif !important;
    margin-top: 1rem;
}

h2 .texto-interativo::after{
    content: '|';
    color: black;
    margin-left: 5px;
   
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header-style{
    width: 100%;
    background-color: rgba(3, 32, 22, .9);
}

footer{
    background-color: rgba(3, 32, 22, .9);
    min-height: 8vh;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}


.header-style nav{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-style nav ul{
    display: flex; /* ----------*/
    gap: 2rem;
    align-items: center;
}



.header-style nav ul li, .header-style nav ul li a{
    color: aliceblue;
    font-size: 1.5rem;
    padding: 1em .5em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.header-style nav ul li a:hover{
    transform: scale(1.05);
    font-weight: 700;
    
}
.git-icon{
    background: url('./img/icons8-github-100.png') ;
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 1rem;
}
.user-icon-list{
    display: none;
    position: absolute;
    right: 8em;
    z-index: 3;
    font-size: .5rem;
    padding: 1.5rem;
    background-color:rgba(3, 32, 22, .6); 
    background-color: aquamarine;
}
.user-icon{
    background: url('/assets/img/profile-user.png');
    background-size: cover;
    width: 3.5rem;
    height: 3.5rem;
}


.main-login{
display: flex;
justify-content: center;
align-items: center;
min-height: 85vh;
background: url('./img/walpapper3.jpg');
background-size:cover;
}
.main-login .login-division-2{
    display: flex;
}
.main-login .login-division-2 form p{
    font-size: 1rem;
    text-shadow: 2px 2px 2px black;
}
.main-login .login-division-1{
    display: flex;
    gap: 2em;
    align-items: center;
    
}
.main-login .login-division-2, .main-login .login-division-1{
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 5rem;
}
.login-text, .sign-text{
    border-bottom: 2px solid white;
    cursor: pointer;
}
.login-division-1-1{
    flex: 0 0 40%;
}
.login-division-1-2{
    flex: 0 0 60%;
}
.login-division-2-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-login .login-division-2 h2{
    margin-bottom: 0 !important;
}
.main-login .login-division-1 h2, .main-login .login-division-2 h2, .form-div form h1{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000000;
    color: #FFFFFF;
}

.form-div form [type="text"], .form-div form label{
    display: block;
    margin: 1rem 0;
}


.login-division-1 form{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    font-weight: 700;
    font-size: 1.2rem;

}
.login-division-2 [type="email"], .login-division-2 [type="password"], .login-division-1 [type="email"], .login-division-1 [type="password"], .form-div form [type="text"], .form-div form textarea, .form-div form [type="date"]{
    border-radius: 20px;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    height: 3rem;
}
.login-division-2 [type="submit"], .login-division-1 [type="submit"],.form-div form [type="submit"] {
    background-color: rgba(3, 32, 22, .9);
    text-shadow: 1px 1px 2px #000000;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;
}

.click-effect:hover{
    transform: scale(1.08);
    box-shadow: 0 0  3px 5px rgba(3, 32, 22, .9);
}
.text-effect:focus{
    box-shadow: 0px 0px 5px 2px rgba(3, 32, 22, .9), inset 0px 0px 5px 2px rgba(3, 32, 22, .9);
    
    outline: none;
}

.sign-text a, .login-text a{
    color: #FFFFFF;
}
.main-login .login-division-1 form label, .main-login .login-division-2 form label, .form-div form label{
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000000;
    color: #FFFFFF;

}
.main-login .login-division-1 p, .main-login .login-division-2 p{
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px #000000;
    color: #FFFFFF;
}

.main-login .login-division-1 input{
    display: block;
}

.linkedin-icon{
    background: url('./img/linkedin.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.linkedin-icon a, .git-icon a{
    width: 100%;
    height: 100%;
}

.padding-20{
    padding-left: 8em;
    padding-right: 8em;
}

.dropdown{
    display: none;
    height: 3rem;
    border: 4px solid #FFFFFF;
    border-radius: 15px;
    /*position: relative;*/
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
}
 /* .dropdown::before{
    content: '☰';
    bottom: 1px;
    left: 5px;
    font-size: 2em;
    color: #FFFFFF;
    position:absolute;
}  */
.division-table{
    border-collapse: collapse;
}
.division-table tr th{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.division-table tr td, th{
    font-family: "Josefin Sans", sans-serif;
    padding: 10px 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    border-radius: 5px;
    
}
.division-table tr td.description{
    padding: 10px 200px;
}

.initial-main{
    width: 100%;
    background: url('./img/walpapper.jpg');
    background-size: cover;
    min-height: 85vh;
    padding-top: 4rem;
}


.division{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.division-content-1{
    text-align: center;
}
.division-content-2{
    text-align: center;
}

.division-content-1 h1{
    font-size: 5em;
    font-family: "Fjalla One", cursive;
    text-shadow: 2px 2px 2px black;
}

.division-content-1 h2{
    font-size: 3em;
    font-family: "Pacifico", cursive;
}

.dropdown-menu-login-tarefa{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 81px;
    
}

.dropdown-menu-login-tarefa .dropdown-log, .dropdown-tarefa{
    background-color: rgba(3, 32, 22, .7);
    border-bottom: 2px solid #ffffff;
    padding: 0 20px 15px;
    width: 15em;
    color: #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    position: absolute;
    transition: all 1s ease-in-out;
}

.dropdown-menu-login-tarefa .dropdown-log{
    text-align: left;
    display: none;
    flex-direction: column;
    align-items: end;
    right: 4rem;
}
.aparece{
    display: none;
}
.relativo{
    position: relative;
    height: 100%;
}

.dropdown-tarefa{
    display: none;
    left: 4rem;
}

.padding-10{
    padding-left: 6em;
    padding-right: 6em;

}

.complete-dropdown{
    display: none;
    position: absolute; 
   flex-grow: 1;
   justify-content: space-around;
    width: 100%;
    bottom: 0;
    z-index: 3;
    top: 81px;
    flex-direction: column;
}
.sucess{
    background-color: rgb(207, 235, 210);
    color: rgb(1, 31, 11);

}
.errors{
    background-color: rgb(201, 120, 120);
    color: rgb(71, 1, 1);
}
.errors, .sucess{
    width: 100%;
    margin-top: 2rem;
    padding: 20px;
    border-radius: 10px;
    font-size: .9em;
    display: inline-block;
}

.complete-dropdown a{
    text-decoration: none;
    color: #FFFFFF;
    background-color:rgba(3, 32, 22, .7);
    padding: 3rem 8rem;
    display: block;
    font-size: 1.5rem;
    
}

.complete-dropdown a:hover{
    background-color: aquamarine;
    color: black;
}


.profile-user{
    background: url('./img/profile-user.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: none;
}

.header-style nav ul.login li a, .header-style nav ul.login li{
    padding: 0;
    transition: all .2s ease-in-out;
}

.header-style nav ul.login li a:hover{
    transform: scale(1.05);
}


.main-tasks{
    min-height: 85vh;
    background-image: url('./img/walpapper5.jpg');
    background-size:cover; 
    background-repeat: no-repeat;
    padding-top: 2rem;
    position: relative;
}

.main-tasks section{
    margin: 0 auto;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 85vh;
    color: #FFFFFF;
    overflow-x:scroll;
    padding: 0 1rem 1rem 0;
}

.main-tasks section table{

    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.main-tasks section table th, .main-tasks section table td{
    text-align: center;
    border-bottom: 1px solid #aaa8a8;
    padding: 1rem;
    overflow-y: auto;
} 
.description-cell{
    min-width: 380px;
}
.tasks-table-head{
   /* display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;*/
}

.button-menu{
    width: 100%;
}
.button-menu h1{
    display: inline-block;
    margin: 0 2rem 2rem 0;
    cursor: pointer;
    border: 1px solid #aaa8a8;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    color: #FFFFFF;
}

.button-menu h1:hover{
    transform: scale(1.05);
    font-weight: 700;
    border: none;
    background-color: #050314;
}
.due, .near-due{
    font-weight: 700;
    text-shadow: 1px solid white;
}

.near-due{
    color: rgb(235, 235, 182);
}

.due{
    color: rgb(201, 120, 120);
}

.modal-tasks-increment{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 4;
    top: 0;
    min-height: 90vh;
    left: 0;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: center;
}

.form-div{
    width: 600px;
   backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 2rem;
    overflow-y: auto;
}

.form-div form textarea{
    min-height: 5.5rem;
    width: 60%;
    min-width: 3rem;
}

.form-div form [type="submit"]{
    margin-top: 1rem;
}

.form-div form [type="radio"], .form-div form label.radio-label{
    display: inline-block;
}

.radio-label + [type="radio"]{
    margin-right: 1rem;
    font-size: 3rem;
}


@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 1100px) {
    
    .some{
        display: none;
    }
    .header-style{
        height: 81px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aparece{
        display: block;
    }
}

@media screen and (max-width: 900px){
    .header-style nav ul li{
        display: none;
    }
    .header-style{
        height: 81px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown{
        display: block;
        z-index: 3;
    }

    .relativo{
        display: inline;
    }
    .relativo:hover .complete-dropdown{
        display: block;
    }
    .division-content-1 h1, .division-content-1 h2{
        font-size: 2em;
    }
    .padding-20{
        padding: 1.5rem;
    }
    .division-table{
        display: none;
    }
    .division-content-1{
        flex: 0 0 100%;
    }
    .initial-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px){
    .main-login .login-division-1{
        flex-wrap: wrap;
    }
    
}