<main class="initial-main padding-20">
    <!-- Division Start -->
    <section class="division">
            <!-- Division Content Start -->
            <div class="division-content-1">
                    <h1>Agende Já!</h1>
                    <h2>Pois quem não agenda, depois não se lembra!</h2>
            <!-- Division Content End -->
            </div>
            <div class="division-content-2">
                <table class="division-table">
                    <tr>
                        <th>Título</th>
                        <th class="description">Descrição</th>
                        
                        <th>Prioridade</th>
                        <th>Data de Entrega</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Example Title</td>
                        <td>Example Description</td>
                        <td> 2 </td>
                        <td> 25/08/2024</td>
                        <td> Em dia </td>
                    </tr>
                </table>
            </div>
        <!-- Division  End --> 
        

    </section>
</main>