<footer class="padding-20">
    <div class="footer-section1">
        <h5>
            Ismaster7 - Criado para fins de estudo. Veja mais em meu linkedin / Github:
        </h5>
        <a href="https://github.com/ismaster7" target="_blank">
            <div class="git-icon">
            </div>
        </a>
        <a href="https://www.linkedin.com/in/ismael-cavalcante-de-lima-4b7a00198/" target="_blank">
            <div class="linkedin-icon">
            </div>
        </a>
    </div>
    <div class="footer-section2">
        <h5>
            2019 - 2024
        </h5>
        
    </div>

</footer>