<div class="login-division-2">
    <form action="/login/login" method="post" class="login-division-2-1">
        <h2> Faça login</h2>
        <label for="email" class="text-effect">E-mail: </label>
        <input type="email" name="email">
        
        <label for="password" class="text-effect">Senha: </label>
        <input type="password" name="password">
        
        <input type="submit" class="click-effect">
        <p>Ainda não tem uma conta? <span class="sign-text"><a href="/register/index">Cadastre-se</a></span></p>
        <%- include('messages.ejs'); %>
    </form>
    
    
</div>
    
