<header class="header-style padding-20">
    <nav class="relativo"> 
        <ul class="tarefas">
            <li class="some">Tarefas</li>
            <li class="aparece drop-tarefa">Tarefas</li>
            <li class="some">Criar nova</li>
        </ul>
        <div class="dropdown">
            
        </div>
        <div class="complete-dropdown">
            <a href="">Criar Tarefa</a>
            <a href="">Consultar </a>
            <a href="">Login</a>
        </div>
            
        <ul class="login">
            <li class="some">Entrar</li>
            <li class="aparece drop-login">Login</li>
            <li class="some">Cadastrar</li>
        </ul>
        <div class="profile-user"></div>
        
    </nav>
    <div class="dropdown-menu-login-tarefa padding-10">
        
        <div class="dropdown-tarefa">
            <h2>Criar Tarefa</h2>
            <h2>Consultar</h2>
        </div>
        <div class="dropdown-log">
            <h2>Entrar</h2>
            <h2>Cadastrar</h2>
        </div>
        
    </div>
</header>