<header class="header-style padding-20">
    <nav class="relativo"> 
        <ul class="tarefas">

            <li class="some"><a href="/">Home</a></li>
            <li class="aparece drop-tarefa"><a href="">Geral</a></li>
           <% if(user){ %>
            <li class="some"><a href="/tasks/index">Gerenciar Tarefas</a></li>
            <% } %>
        </ul>
        <div class="dropdown">
            ☰
        </div>
        
            
        <ul class="login">
            <% if(!user) { %>
            <li class="some"><a href="/login/index">Entrar</a></li>
            <li class="aparece drop-login"><a href="">Login</a></li>
            <li class="some"><a href="/register/index">Cadastrar</a></li>
            <% } else { %>
            <li><a href="#"><%= user.email %></a></li>
            
            <li class="" >
                <a href="/login/logout"> <div class="user-icon"></div></a>
            </li>    
            <li class="profile-user"></li>
            <% } %>
        </ul>
        
        
    </nav>
    <div class="dropdown-menu-login-tarefa padding-10">
        
        <div class="dropdown-tarefa">
            <h2>Home</h2>
            <h2>Ger. Tarefas</h2>
        </div>
        <div class="dropdown-log">
            <h2>Entrar</h2>
            <h2>Cadastrar</h2>
        </div>
        
    </div>
    <div class="complete-dropdown">
        <% if(!user) { %>
        <a href="/login/index">Entrar</a>
        <a href="/register/index">Cadastrar</a>
        <% } else { %>
        <a href="/tasks/index">Ger. Tarefas</a> 
        <a href=""><%= user.email %></a> 
        <a href="">Sair</a>  
        <% } %>
    </div>
    <ul class="user-icon-list ">
        <li><a href="/login/logout">Sair</a></li>
    </ul>
</header>