<section>
    <div class="button-menu">
        <h1 class="tasks-add">Adicionar tarefa</h1>
        <h1>Filtrar</h1>
    </div>
    <table>
        <thead>
        <tr class="tasks-table-head">
            <th>Título</th>
            <th>Descrição</th>
            <th>Prioridade</th>
            <th>Data de Entrega</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr class="tasks-table-head">
            <td>item</td>
            <td class="description-cell">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil tempore numquam velit dicta dolor vitae in nobis, accusamus ad eveniet rerum. Harum voluptate doloribus deleniti, deserunt commodi eius aliquam non.</td>
            <td>item</td>
            <td>item</td>
            <td>item</td>
        </tr>

        <tr>
            <td>item</td>
            <td class="description-cell">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum fugit earum sapiente cumque dignissimos nesciunt doloremque tenetur voluptatem laudantium quas soluta ad delectus, molestias suscipit asperiores aut animi consequuntur!</td>
            <td>item</td>
            <td>item</td>
            <td>item</td>
        </tr>
    </tbody>
    </table>
</section>