<%- include('includes/head.ejs') %>

    <h1> <%= batata %></h1>
    <form action="/" method="post">
        <input type="text" name="texto" id="">
        <input type="submit">
    </form>

<%- include('includes/footer.ejs') %>

