<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<section class="main-login padding-20">
<h1 style="font-size: 5rem;">Você já está logado!</h1>
</section>
<%- include('includes/foooter.ejs') %>
<%- include('includes/footer.ejs') %>